.pagination {
    background-color: white !important;
}

.noteListBar-dark {
    background-color: #181818 !important;
    color: white !important
}

.noteListBar-light {
    background-color: rgb(247, 247, 247) !important;
    color: black !important
}